.Footer{
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 1200px;
    height: 400px;
    background-color: rgb(219, 219, 219);
    border-radius: 50px;
    font-size: 20px;
    padding-top: 80px;
}
